/* ----------------------*|
    GOOGLE FONTS POPPINS
/*-----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* ----------------------*|
        COMMON STYLES
/*-----------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
ul,
li{
    list-style-type: none;
}
.container{
    max-width: 1050px;
    margin: auto;
}
.button{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    transition: all linear .2s;
}
.button:hover{
    color: yellowgreen;
    border-radius: 5px;
}
/* ----------------------*|
    HEADER AREA STYLES
/*-----------------------*/
.header-area{
    background: #2D25A0;
}
.header-container{
    max-width: 1144px;
    margin: auto;
}
.header-contents{
    display: grid;
    grid-template-columns: 485px 557px;
    grid-column-gap: 102px;
    padding: 110px 0 86px;
}
/* grouped from highlights area */
.header-left-content,
.highlights-left-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-left-content h1{
    color: #fff;
    font-size: 64px;
    line-height: 80px;
}
.header-left-content .button{
    margin-top: 27px;
}
.header-left-content .btn-arrow{
    margin-left: 8px;
}
/* .header-right-content{
    width: 557px;
} */
.header-right-content img{
    transition: all linear .3s;
}
.header-right-content:hover img{
    transform: scale(1.1);
}

/* ----------------------*|
    PLAYERS GALLERY STYLES
/*-----------------------*/
.players-gallery{
    margin-top: 70px;
}
.players-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    width: 330px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    padding: 15px 15px 33px;
}
.player img{
    width: 100%;
}
.player .player-name{
    font-size: 28;
    font-weight: 700;
    color: #18191F;
    line-height: 40px;
}
/* grouping from players gallery
    and highlights section */
.player .player-description,
.highlights-details{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6C6C6C;
}

/* ----------------------*|
    HIGHLIGHTS STYLES
/*-----------------------*/
.highlights-area{
    margin-top: 150px;
}
.highlights-container{
    max-width: 1102px;
    margin: auto;
    display: grid;
    grid-template-columns: 469px 576px;
    grid-column-gap: 66px;
}
.highlights-heading{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #0A0826;
    margin-bottom: 8px;
}
.highlights-left-contents .button{
    margin-top: 24px;
}
.highlights-right-contents img{
    width: 100%;
}